/* admin.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: auto;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #208454;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.nav-link {
    color: white;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #176639;
}

.dashboard-container {
    flex-grow: 1;
    width: 100%; /* Use full width for content */
    background-color: #fff;
    padding: 20px;
    margin-left: 0; /* No offset needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

h1 {
    text-align: center;
    color: #208454;
}

.dashboard-section {
    margin-bottom: 30px;
}

.dashboard-section h2 {
    color: #208454;
    border-bottom: 2px solid #208454;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #208454;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.lihat-button {
    background-color: #208454;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
}