/* group.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #73ce87;
    color: #333;
}

header {
    border-bottom: 2px solid #208454;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #0f4129;
    display: flex;
    align-items: center;
}

header .btn-outline-secondary {
    font-size: 1.2rem;
}

header .icon {
    width: 30px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-success {
    background-color: #208454;
    border-color: #208454;
}

.btn-success:hover {
    background-color: #176639;
    border-color: #176639;
}

.list-group {
    width: 75%;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #e9f5e9;
    border: 1px solid #208454;
    border-radius: 10px;
    margin-bottom: 10px;
}

.group-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.group-info {
    flex-grow: 1;
}

.group-title {
    margin: 0;
    font-weight: bold;
    color: #208454;
}

.ustadz-name {
    margin: 0;
    color: #666;
}

.group-actions {
    display: flex;
    gap: 10px;
}

.group-actions .btn {
    font-size: 0.9rem;
}

.group-actions .btn-primary {
    background-color: #208454;
    border: none;
}

.group-actions .btn-primary:hover {
    background-color: #176639;
}

.modal-header, .modal-footer {
    border-bottom: 1px solid #ccc;
    border-top: none;
}

.modal-header h5 {
    color: #208454;
}

.modal-footer .btn-primary {
    background-color: #208454;
    border-color: #208454;
}

.modal-footer .btn-primary:hover {
    background-color: #176639;
    border-color: #176639;
}
