body {
  font-family: 'Arial', sans-serif;
  background-color: #e8f5e9;
  color: #343a40;
}

.navbar {
  background-color: #208454 !important; /* Custom green color */
}

.navbar h4 {
  padding: 1rem;
  color: #ffffff; /* White color for better contrast */
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #208454;
}

.search-bar {
  max-width: 300px;
}

.decorative-curve {
  height: 10px;
  background: linear-gradient(to right, #77eec0, #77c2ee);
}

.container {
  margin-top: 20px;
}

button i {
  font-size: 1.2rem;
}

#content-container {
  margin-top: 20px;
}

input.form-control.rounded-pill {
  border-radius: 50px; /* Rounded input field */
}

button.btn.rounded-circle {
  border-radius: 50%; /* Circle button */
}
